:root {
  --h1: 2.3rem;
  --h2: 2rem;
  --h3: 1.8rem;
  --h4: 1.5rem;
  --p: 1.3rem;
  --li: 1.2rem;
  --btn: 1.5rem;
  --bg1: #FFC017;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(41, 41, 41);
}

#root {
  width: 100vw;
  height: 100svh;
  overflow-x: hidden;
  font-size: var(--h3);
  background-color: #e8e7e7;
}

p {
  font-size: var(--p);
  line-height: 1.2;
}

h1 {
  font-size: var(--h1);
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.7px;
  margin-bottom: 0.5em;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
}

h2 {
  font-size: var(--h2);
  font-weight: 600;
  font-family: fantasy;
  margin-bottom: 0.2em;
}

h3 {
  font-size: var(--h3);
  font-family: monospace;
  margin-bottom: 0.1em;
}

h4 {
  font-size: var(--h4);
  font-family: monospace;
  margin-bottom: 0.1em;
}

li {
  font-size: var(--li);
}

button {
  font-size: var(--btn);
  color: rgb(252, 232, 232);
  outline: none;
  font-weight: 500;
  padding-inline : 0.4em;
  padding-block: 0.1em;
  border-radius: 0.5em;
}

button[data-btn='green'] {
  background-color: rgb(63, 213, 63);
}

button[data-btn='red'] {
  background-color: rgb(253, 50, 50);
}

button[data-btn='black'] {
  background-color: rgb(29, 37, 44);
  color: rgb(210, 223, 236);
}

.svg-img {
  width: 40px;
  /* stroke-width: 1px; */
  stroke: var(--stroke);
  padding: 0.1em;
}

.svg-img.checked{
  stroke-width: 1px;
  fill: var(--fill);
}

@media screen and (min-width: 480px) {
  :root {
    --h1: 3rem;
    --h2: 2.6rem;
    --h3: 2em;
    --h4: 1.9rem;
    --p: 1.8rem;
    --li: 1.7rem;
    --btn: 1.8rem;
  }

  .svg-img {
    width: 60px;
  }
}

@media screen and (min-width: 1025px) {
  :root {
    --h1: 3rem;
    --h2: 2.8rem;
    --h3: 2.2rem;
    --h4: 1.8rem;
    --p: 1.6rem;
    --li: 1.5rem;
    --button: 1.6rem;
  }
  .svg-img{
    width: 40px;
  }
  .svg-img:hover {
    stroke: var(--stroke-hover);
    background-color: var(--stroke_bg-hover);
    border : 2px solid var(--stroke-hover);
  }

  .svg-img {
    transition: background-color, stroke;
    transition-duration: 350ms;
    border-radius: 0.5em;
  }
}